.Container {
  width: 100%;
  height: 20vh;
}

%Element {
  width: 100%;
  height: 100%;
}

.First {
  @extend %Element;
  background-color: red;
}

.Second {
  @extend %Element;
  background-color: green;
}

.Third {
  @extend %Element;
  background-color: blue;
}

.Fourth {
  @extend %Element;
  background-color: yellow;
}

.Fifth {
  @extend %Element;
  background-color: lightskyblue;
}
