.Container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.SliderContainer {
  height: 80%;
  margin: 0 auto;
  position: relative;
}

.Slide {
  width: 100%;
  height: 100%;
  position: absolute;
}

.ButtonsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
